<html>
    <head>
        <title>daiva's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
      {% for post in posts %}

            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first trip</a></h2>
            <p> Hola hola hola......</p>
         </div>
        {% endfor %}

      <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second trip</a></h2>
            <p>viaggiare viaggiare</p>
        </div>
    </body>
</html>
